# Add any extra python dependencies for Airflow here.
# E.g.
# pandas==2.0.3
# apache-airflow-providers-postgres==5.10.0
apache-airflow==2.8.1
apache-airflow-providers-postgres
pandas
openpyxl
dbt-postgres
astronomer-cosmos
sentence-transformers
beautifulsoup4
supabase
postgrest
telethon
